@import "variable";

.edit-post-layout__content[data-site_layout="none"] .wp-block[data-align="full"],
.edit-post-layout__content[data-site_layout="none"] .wp-block[data-align="wide"],
.edit-post-layout__content[data-site_layout="none"] .wp-block{
  max-width: 1170px;
}


.editor-block-list__layout .editor-block-list__block[data-align="full"] {
  margin-left: auto;
  margin-right: auto;
}



.editor-styles-wrapper {
  @import "blocks";
  @import "buttons";

  .components-icon-button {
    overflow: hidden;
  }

}

.wp-block-code .editor-plain-text {
  font-family: @body_font;
  font-size: 0.875rem;
  color: @heading_color;
  background: transparent;
}

.wp-block-button:not(.is-style-outline) .wp-block-button__link {
  &:hover,
  &:focus,
  &:active {
    background-color: #333 !important;
    color: #fff !important;
  }

  &.has-background,
  &.has-text-color {
    border-color: transparent !important;
  }


}

.wp-block-button.is-style-outline .wp-block-button__link {
  &:hover,
  &:focus,
  &:active {
    color: @accent_color !important;
  }

  &:not(.has-text-color) {
    &:hover,
    &:focus,
    &:active {
      color: #333 !important;
    }
  }
}

.editor-post-title__block.editor-post-title__block .editor-post-title__input {
  font-size: 34px;
  font-weight: 800;
  color: @heading_color;
}
