.edit-post-layout__content[data-site_layout="none"] .wp-block[data-align="full"],
.edit-post-layout__content[data-site_layout="none"] .wp-block[data-align="wide"],
.edit-post-layout__content[data-site_layout="none"] .wp-block {
  max-width: 1170px;
}
.editor-block-list__layout .editor-block-list__block[data-align="full"] {
  margin-left: auto;
  margin-right: auto;
}
.editor-styles-wrapper ul.wp-block-gallery {
  padding: 0;
}
.editor-styles-wrapper .wp-block-pullquote {
  border-top: 4px solid #333333;
  border-bottom: 4px solid #333333;
  color: #333333;
}
.editor-styles-wrapper .wp-block-pullquote blockquote:not(.gsf-blockquote-right):not(.gsf-blockquote-left):not(.is-large):not(.is-style-large) {
  background-color: transparent !important;
  padding: 0;
  margin-top: 0;
}
.editor-styles-wrapper .wp-block-pullquote blockquote:not(.gsf-blockquote-right):not(.gsf-blockquote-left):not(.is-large):not(.is-style-large):before {
  display: none;
}
.editor-styles-wrapper .wp-block-quote.is-style-large,
.editor-styles-wrapper .wp-block-quote.is-large {
  font-size: 20px;
  border-left: solid 5px #f76b6a;
}
.editor-styles-wrapper .wp-block-table.is-style-stripes tr:nth-child(odd) {
  background-color: #f8f8f8;
}
.editor-styles-wrapper .wp-block-table.is-style-stripes td {
  border-color: transparent;
}
.editor-styles-wrapper .wp-block-button {
  margin-bottom: 20px;
}
.editor-styles-wrapper .wp-block-cover-image,
.editor-styles-wrapper .wp-block-cover {
  margin-bottom: 20px;
  color: #f8f9f9;
}
.editor-styles-wrapper .wp-block-cover-image p,
.editor-styles-wrapper .wp-block-cover p {
  margin-bottom: 0;
  line-height: 1.25;
}
.editor-styles-wrapper .wp-block-cover-image a,
.editor-styles-wrapper .wp-block-cover a {
  color: inherit;
}
.editor-styles-wrapper .wp-block-embed {
  margin: 0 0 20px;
}
.editor-styles-wrapper .wp-block-gallery .blocks-gallery-image figcaption,
.editor-styles-wrapper .wp-block-gallery .blocks-gallery-item figcaption,
.editor-styles-wrapper .blocks-gallery-grid .blocks-gallery-image figcaption,
.editor-styles-wrapper .blocks-gallery-grid .blocks-gallery-item figcaption {
  color: #fff;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.3) 70%, transparent);
  font-style: normal;
  border: none;
  margin: 0;
}
.editor-styles-wrapper ul.blocks-gallery-grid {
  padding-left: 0 !important;
  margin: 0;
}
.editor-styles-wrapper ul.blocks-gallery-grid + .blocks-gallery-caption {
  margin: 0;
}
.editor-styles-wrapper .wp-block-button__link,
.editor-styles-wrapper input[type="submit"],
.editor-styles-wrapper input[type="button"],
.editor-styles-wrapper input[type="reset"],
.editor-styles-wrapper .btn {
  display: inline-block;
  font-weight: 800;
  position: relative;
  letter-spacing: 0.05em;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  padding: 9px 30px;
  font-size: 14px;
  line-height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.editor-styles-wrapper .wp-block-button__link.btn-outline,
.editor-styles-wrapper input[type="submit"].btn-outline,
.editor-styles-wrapper input[type="button"].btn-outline,
.editor-styles-wrapper input[type="reset"].btn-outline,
.editor-styles-wrapper .btn.btn-outline {
  padding: 9px 30px;
}
.editor-styles-wrapper .wp-block-button__link:hover,
.editor-styles-wrapper input[type="submit"]:hover,
.editor-styles-wrapper input[type="button"]:hover,
.editor-styles-wrapper input[type="reset"]:hover,
.editor-styles-wrapper .btn:hover,
.editor-styles-wrapper .wp-block-button__link:focus,
.editor-styles-wrapper input[type="submit"]:focus,
.editor-styles-wrapper input[type="button"]:focus,
.editor-styles-wrapper input[type="reset"]:focus,
.editor-styles-wrapper .btn:focus,
.editor-styles-wrapper .wp-block-button__link:active,
.editor-styles-wrapper input[type="submit"]:active,
.editor-styles-wrapper input[type="button"]:active,
.editor-styles-wrapper input[type="reset"]:active,
.editor-styles-wrapper .btn:active,
.editor-styles-wrapper .wp-block-button__link.focus,
.editor-styles-wrapper input[type="submit"].focus,
.editor-styles-wrapper input[type="button"].focus,
.editor-styles-wrapper input[type="reset"].focus,
.editor-styles-wrapper .btn.focus {
  text-decoration: none;
}
.editor-styles-wrapper .wp-block-button__link:active,
.editor-styles-wrapper input[type="submit"]:active,
.editor-styles-wrapper input[type="button"]:active,
.editor-styles-wrapper input[type="reset"]:active,
.editor-styles-wrapper .btn:active,
.editor-styles-wrapper .wp-block-button__link.active,
.editor-styles-wrapper input[type="submit"].active,
.editor-styles-wrapper input[type="button"].active,
.editor-styles-wrapper input[type="reset"].active,
.editor-styles-wrapper .btn.active {
  outline: 0;
  background-image: none;
}
.editor-styles-wrapper .wp-block-button__link.disabled,
.editor-styles-wrapper input[type="submit"].disabled,
.editor-styles-wrapper input[type="button"].disabled,
.editor-styles-wrapper input[type="reset"].disabled,
.editor-styles-wrapper .btn.disabled,
.editor-styles-wrapper .wp-block-button__link[disabled],
.editor-styles-wrapper input[type="submit"][disabled],
.editor-styles-wrapper input[type="button"][disabled],
.editor-styles-wrapper input[type="reset"][disabled],
.editor-styles-wrapper .btn[disabled],
fieldset[disabled] .editor-styles-wrapper .wp-block-button__link,
fieldset[disabled] .editor-styles-wrapper input[type="submit"],
fieldset[disabled] .editor-styles-wrapper input[type="button"],
fieldset[disabled] .editor-styles-wrapper input[type="reset"],
fieldset[disabled] .editor-styles-wrapper .btn {
  cursor: not-allowed;
  -webkit-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
}
.editor-styles-wrapper [class*="btn-link-"] {
  text-transform: none;
  border: none;
  height: auto;
  line-height: 0.9em;
  padding: 0;
}
.editor-styles-wrapper [class*="btn-link-"]:not([class*="btn-icon-"]) {
  border-bottom: 1px solid transparent;
}
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color),
.editor-styles-wrapper input[type="submit"],
.editor-styles-wrapper input[type="button"],
.editor-styles-wrapper input[type="reset"] {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #f76b6a;
  border-color: #f76b6a;
}
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color):active,
.editor-styles-wrapper input[type="submit"]:active,
.editor-styles-wrapper input[type="button"]:active,
.editor-styles-wrapper input[type="reset"]:active,
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color):focus,
.editor-styles-wrapper input[type="submit"]:focus,
.editor-styles-wrapper input[type="button"]:focus,
.editor-styles-wrapper input[type="reset"]:focus,
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color):hover,
.editor-styles-wrapper input[type="submit"]:hover,
.editor-styles-wrapper input[type="button"]:hover,
.editor-styles-wrapper input[type="reset"]:hover {
  color: #ffffff;
  background-color: #2a2d2e;
  border-color: #2a2d2e;
}
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color).disabled:hover,
.editor-styles-wrapper input[type="submit"].disabled:hover,
.editor-styles-wrapper input[type="button"].disabled:hover,
.editor-styles-wrapper input[type="reset"].disabled:hover,
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color)[disabled]:hover,
.editor-styles-wrapper input[type="submit"][disabled]:hover,
.editor-styles-wrapper input[type="button"][disabled]:hover,
.editor-styles-wrapper input[type="reset"][disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color):hover,
fieldset[disabled] .editor-styles-wrapper input[type="submit"]:hover,
fieldset[disabled] .editor-styles-wrapper input[type="button"]:hover,
fieldset[disabled] .editor-styles-wrapper input[type="reset"]:hover,
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color).disabled:focus,
.editor-styles-wrapper input[type="submit"].disabled:focus,
.editor-styles-wrapper input[type="button"].disabled:focus,
.editor-styles-wrapper input[type="reset"].disabled:focus,
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color)[disabled]:focus,
.editor-styles-wrapper input[type="submit"][disabled]:focus,
.editor-styles-wrapper input[type="button"][disabled]:focus,
.editor-styles-wrapper input[type="reset"][disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color):focus,
fieldset[disabled] .editor-styles-wrapper input[type="submit"]:focus,
fieldset[disabled] .editor-styles-wrapper input[type="button"]:focus,
fieldset[disabled] .editor-styles-wrapper input[type="reset"]:focus,
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color).disabled:active,
.editor-styles-wrapper input[type="submit"].disabled:active,
.editor-styles-wrapper input[type="button"].disabled:active,
.editor-styles-wrapper input[type="reset"].disabled:active,
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color)[disabled]:active,
.editor-styles-wrapper input[type="submit"][disabled]:active,
.editor-styles-wrapper input[type="button"][disabled]:active,
.editor-styles-wrapper input[type="reset"][disabled]:active,
fieldset[disabled] .editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color):active,
fieldset[disabled] .editor-styles-wrapper input[type="submit"]:active,
fieldset[disabled] .editor-styles-wrapper input[type="button"]:active,
fieldset[disabled] .editor-styles-wrapper input[type="reset"]:active,
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color).disabled.focus,
.editor-styles-wrapper input[type="submit"].disabled.focus,
.editor-styles-wrapper input[type="button"].disabled.focus,
.editor-styles-wrapper input[type="reset"].disabled.focus,
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color)[disabled].focus,
.editor-styles-wrapper input[type="submit"][disabled].focus,
.editor-styles-wrapper input[type="button"][disabled].focus,
.editor-styles-wrapper input[type="reset"][disabled].focus,
fieldset[disabled] .editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color).focus,
fieldset[disabled] .editor-styles-wrapper input[type="submit"].focus,
fieldset[disabled] .editor-styles-wrapper input[type="button"].focus,
fieldset[disabled] .editor-styles-wrapper input[type="reset"].focus {
  background-color: #f76b6a;
  border-color: #f76b6a;
}
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color).btn-3d,
.editor-styles-wrapper input[type="submit"].btn-3d,
.editor-styles-wrapper input[type="button"].btn-3d,
.editor-styles-wrapper input[type="reset"].btn-3d {
  top: 0;
  -webkit-box-shadow: 0 5px 0 #f43b3a;
  -moz-box-shadow: 0 5px 0 #f43b3a;
  box-shadow: 0 5px 0 #f43b3a;
}
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color).btn-3d:focus,
.editor-styles-wrapper input[type="submit"].btn-3d:focus,
.editor-styles-wrapper input[type="button"].btn-3d:focus,
.editor-styles-wrapper input[type="reset"].btn-3d:focus,
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color).btn-3d:active,
.editor-styles-wrapper input[type="submit"].btn-3d:active,
.editor-styles-wrapper input[type="button"].btn-3d:active,
.editor-styles-wrapper input[type="reset"].btn-3d:active,
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color).btn-3d:hover,
.editor-styles-wrapper input[type="submit"].btn-3d:hover,
.editor-styles-wrapper input[type="button"].btn-3d:hover,
.editor-styles-wrapper input[type="reset"].btn-3d:hover {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 #f43b3a;
  -moz-box-shadow: 0 2px 0 #f43b3a;
  box-shadow: 0 2px 0 #f43b3a;
  color: #ffffff;
  background-color: #f76b6a;
  border-color: #f76b6a;
}
.editor-styles-wrapper .wp-block-button:not(.is-style-outline) .wp-block-button__link:hover,
.editor-styles-wrapper .wp-block-button:not(.is-style-outline) .wp-block-button__link:focus,
.editor-styles-wrapper .wp-block-button:not(.is-style-outline) .wp-block-button__link:active {
  color: #fff;
  background-color: #333;
  border-color: #333;
}
.editor-styles-wrapper .wp-block-button:not(.is-style-outline) .wp-block-button__link.has-background,
.editor-styles-wrapper .wp-block-button:not(.is-style-outline) .wp-block-button__link.has-text-color {
  border-color: transparent;
}
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link {
  background: transparent !important;
  border: 2px solid currentcolor;
  color: #f76b6a;
}
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:hover,
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:focus,
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:active {
  color: #f76b6a;
}
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):hover,
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):focus,
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):active {
  color: #333;
}
.editor-styles-wrapper a.btn.disabled,
fieldset[disabled] .editor-styles-wrapper a.btn {
  pointer-events: none;
}
.editor-styles-wrapper .btn-block {
  display: block;
  width: 100%;
}
.editor-styles-wrapper .btn.btn-xs {
  padding: 5px 23px;
  font-size: 12px;
  line-height: 20px;
}
.editor-styles-wrapper .btn.btn-xs.btn-outline {
  padding: 5px 23px;
}
.editor-styles-wrapper .btn.btn-sm {
  padding: 9px 30px;
  font-size: 14px;
  line-height: 20px;
}
.editor-styles-wrapper .btn.btn-sm.btn-outline {
  padding: 9px 30px;
}
.editor-styles-wrapper .btn.btn-md {
  padding: 13px 35px;
  font-size: 14px;
  line-height: 20px;
}
.editor-styles-wrapper .btn.btn-md.btn-outline {
  padding: 13px 35px;
}
.editor-styles-wrapper .btn.btn-lg {
  padding: 16px 35px;
  font-size: 14px;
  line-height: 20px;
}
.editor-styles-wrapper .btn.btn-lg.btn-outline {
  padding: 16px 35px;
}
.editor-styles-wrapper .btn.btn-xl {
  padding: 17px 40px;
  font-size: 14px;
  line-height: 20px;
}
.editor-styles-wrapper .btn.btn-xl.btn-outline {
  padding: 17px 40px;
}
.editor-styles-wrapper .btn.btn-xxl {
  padding: 19px 45px;
  font-size: 14px;
  line-height: 20px;
}
.editor-styles-wrapper .btn.btn-xxl.btn-outline {
  padding: 19px 45px;
}
.editor-styles-wrapper .btn-link-xs {
  font-size: 14px;
}
.editor-styles-wrapper .btn-link-sm {
  font-size: 18px;
}
.editor-styles-wrapper .btn-link-md {
  font-size: 24px;
}
.editor-styles-wrapper .btn-link-lg {
  font-size: 28px;
}
.editor-styles-wrapper .btn-link-xl {
  font-size: 32px;
}
.editor-styles-wrapper .btn-link-xxl {
  font-size: 36px;
}
.editor-styles-wrapper .wp-block-button:not(.is-style-squared) .wp-block-button__link,
.editor-styles-wrapper .btn.btn-round {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
.editor-styles-wrapper .btn.btn-rounded {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.editor-styles-wrapper .btn.btn-inline {
  display: inline-block;
  vertical-align: top;
}
.editor-styles-wrapper .btn.btn-icon-left > i {
  margin-right: 10px;
}
.editor-styles-wrapper .btn.btn-icon-right > i {
  margin-left: 10px;
}
.editor-styles-wrapper .btn.btn-primary {
  color: #ffffff;
  background-color: #f76b6a;
  border-color: #f76b6a;
}
.editor-styles-wrapper .btn.btn-primary:active,
.editor-styles-wrapper .btn.btn-primary:focus,
.editor-styles-wrapper .btn.btn-primary:hover {
  color: #f76b6a;
  background-color: transparent;
  border-color: #f76b6a;
}
.editor-styles-wrapper .btn.btn-primary.disabled:hover,
.editor-styles-wrapper .btn.btn-primary[disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-primary:hover,
.editor-styles-wrapper .btn.btn-primary.disabled:focus,
.editor-styles-wrapper .btn.btn-primary[disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-primary:focus,
.editor-styles-wrapper .btn.btn-primary.disabled:active,
.editor-styles-wrapper .btn.btn-primary[disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-primary:active,
.editor-styles-wrapper .btn.btn-primary.disabled.focus,
.editor-styles-wrapper .btn.btn-primary[disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-primary.focus {
  background-color: #f76b6a;
  border-color: #f76b6a;
}
.editor-styles-wrapper .btn.btn-primary.btn-3d {
  top: 0;
  -webkit-box-shadow: 0 5px 0 #f43b3a;
  -moz-box-shadow: 0 5px 0 #f43b3a;
  box-shadow: 0 5px 0 #f43b3a;
}
.editor-styles-wrapper .btn.btn-primary.btn-3d:focus,
.editor-styles-wrapper .btn.btn-primary.btn-3d:active,
.editor-styles-wrapper .btn.btn-primary.btn-3d:hover {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 #f43b3a;
  -moz-box-shadow: 0 2px 0 #f43b3a;
  box-shadow: 0 2px 0 #f43b3a;
  color: #ffffff;
  background-color: #f76b6a;
  border-color: #f76b6a;
}
.editor-styles-wrapper .btn.btn-primary.btn-outline {
  color: #f76b6a;
  background-color: transparent;
  border-color: #f76b6a;
}
.editor-styles-wrapper .btn.btn-primary.btn-outline:active,
.editor-styles-wrapper .btn.btn-primary.btn-outline:focus,
.editor-styles-wrapper .btn.btn-primary.btn-outline:hover {
  color: #ffffff;
  background-color: #f76b6a;
  border-color: #f76b6a;
}
.editor-styles-wrapper .btn.btn-primary.btn-outline.disabled:hover,
.editor-styles-wrapper .btn.btn-primary.btn-outline[disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-primary.btn-outline:hover,
.editor-styles-wrapper .btn.btn-primary.btn-outline.disabled:focus,
.editor-styles-wrapper .btn.btn-primary.btn-outline[disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-primary.btn-outline:focus,
.editor-styles-wrapper .btn.btn-primary.btn-outline.disabled:active,
.editor-styles-wrapper .btn.btn-primary.btn-outline[disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-primary.btn-outline:active,
.editor-styles-wrapper .btn.btn-primary.btn-outline.disabled.focus,
.editor-styles-wrapper .btn.btn-primary.btn-outline[disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-primary.btn-outline.focus {
  background-color: transparent;
  border-color: #f76b6a;
}
.editor-styles-wrapper .btn.btn-primary.btn-outline.btn-3d {
  top: 0;
  -webkit-box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
}
.editor-styles-wrapper .btn.btn-primary.btn-outline.btn-3d:focus,
.editor-styles-wrapper .btn.btn-primary.btn-outline.btn-3d:active,
.editor-styles-wrapper .btn.btn-primary.btn-outline.btn-3d:hover {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  color: #f76b6a;
  background-color: transparent;
  border-color: #f76b6a;
}
.editor-styles-wrapper .btn.btn-primary[class*="btn-link"] {
  color: #f76b6a;
  background-color: transparent;
  border-color: #f76b6a;
}
.editor-styles-wrapper .btn.btn-primary[class*="btn-link"]:active,
.editor-styles-wrapper .btn.btn-primary[class*="btn-link"]:focus,
.editor-styles-wrapper .btn.btn-primary[class*="btn-link"]:hover {
  color: #f76b6a;
  background-color: transparent;
  border-color: #f76b6a;
}
.editor-styles-wrapper .btn.btn-primary[class*="btn-link"].disabled:hover,
.editor-styles-wrapper .btn.btn-primary[class*="btn-link"][disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-primary[class*="btn-link"]:hover,
.editor-styles-wrapper .btn.btn-primary[class*="btn-link"].disabled:focus,
.editor-styles-wrapper .btn.btn-primary[class*="btn-link"][disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-primary[class*="btn-link"]:focus,
.editor-styles-wrapper .btn.btn-primary[class*="btn-link"].disabled:active,
.editor-styles-wrapper .btn.btn-primary[class*="btn-link"][disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-primary[class*="btn-link"]:active,
.editor-styles-wrapper .btn.btn-primary[class*="btn-link"].disabled.focus,
.editor-styles-wrapper .btn.btn-primary[class*="btn-link"][disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-primary[class*="btn-link"].focus {
  background-color: transparent;
  border-color: #f76b6a;
}
.editor-styles-wrapper .btn.btn-primary[class*="btn-link"].btn-3d {
  top: 0;
  -webkit-box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
}
.editor-styles-wrapper .btn.btn-primary[class*="btn-link"].btn-3d:focus,
.editor-styles-wrapper .btn.btn-primary[class*="btn-link"].btn-3d:active,
.editor-styles-wrapper .btn.btn-primary[class*="btn-link"].btn-3d:hover {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  color: #f76b6a;
  background-color: transparent;
  border-color: #f76b6a;
}
.editor-styles-wrapper .btn.btn-white {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.editor-styles-wrapper .btn.btn-white:active,
.editor-styles-wrapper .btn.btn-white:focus,
.editor-styles-wrapper .btn.btn-white:hover {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}
.editor-styles-wrapper .btn.btn-white.disabled:hover,
.editor-styles-wrapper .btn.btn-white[disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-white:hover,
.editor-styles-wrapper .btn.btn-white.disabled:focus,
.editor-styles-wrapper .btn.btn-white[disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-white:focus,
.editor-styles-wrapper .btn.btn-white.disabled:active,
.editor-styles-wrapper .btn.btn-white[disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-white:active,
.editor-styles-wrapper .btn.btn-white.disabled.focus,
.editor-styles-wrapper .btn.btn-white[disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-white.focus {
  background-color: #ffffff;
  border-color: #ffffff;
}
.editor-styles-wrapper .btn.btn-white.btn-3d {
  top: 0;
  -webkit-box-shadow: 0 5px 0 #e6e6e6;
  -moz-box-shadow: 0 5px 0 #e6e6e6;
  box-shadow: 0 5px 0 #e6e6e6;
}
.editor-styles-wrapper .btn.btn-white.btn-3d:focus,
.editor-styles-wrapper .btn.btn-white.btn-3d:active,
.editor-styles-wrapper .btn.btn-white.btn-3d:hover {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 #e6e6e6;
  -moz-box-shadow: 0 2px 0 #e6e6e6;
  box-shadow: 0 2px 0 #e6e6e6;
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.editor-styles-wrapper .btn.btn-white.btn-outline {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}
.editor-styles-wrapper .btn.btn-white.btn-outline:active,
.editor-styles-wrapper .btn.btn-white.btn-outline:focus,
.editor-styles-wrapper .btn.btn-white.btn-outline:hover {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.editor-styles-wrapper .btn.btn-white.btn-outline.disabled:hover,
.editor-styles-wrapper .btn.btn-white.btn-outline[disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-white.btn-outline:hover,
.editor-styles-wrapper .btn.btn-white.btn-outline.disabled:focus,
.editor-styles-wrapper .btn.btn-white.btn-outline[disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-white.btn-outline:focus,
.editor-styles-wrapper .btn.btn-white.btn-outline.disabled:active,
.editor-styles-wrapper .btn.btn-white.btn-outline[disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-white.btn-outline:active,
.editor-styles-wrapper .btn.btn-white.btn-outline.disabled.focus,
.editor-styles-wrapper .btn.btn-white.btn-outline[disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-white.btn-outline.focus {
  background-color: transparent;
  border-color: #ffffff;
}
.editor-styles-wrapper .btn.btn-white.btn-outline.btn-3d {
  top: 0;
  -webkit-box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
}
.editor-styles-wrapper .btn.btn-white.btn-outline.btn-3d:focus,
.editor-styles-wrapper .btn.btn-white.btn-outline.btn-3d:active,
.editor-styles-wrapper .btn.btn-white.btn-outline.btn-3d:hover {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}
.editor-styles-wrapper .btn.btn-white[class*="btn-link"] {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}
.editor-styles-wrapper .btn.btn-white[class*="btn-link"]:active,
.editor-styles-wrapper .btn.btn-white[class*="btn-link"]:focus,
.editor-styles-wrapper .btn.btn-white[class*="btn-link"]:hover {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}
.editor-styles-wrapper .btn.btn-white[class*="btn-link"].disabled:hover,
.editor-styles-wrapper .btn.btn-white[class*="btn-link"][disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-white[class*="btn-link"]:hover,
.editor-styles-wrapper .btn.btn-white[class*="btn-link"].disabled:focus,
.editor-styles-wrapper .btn.btn-white[class*="btn-link"][disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-white[class*="btn-link"]:focus,
.editor-styles-wrapper .btn.btn-white[class*="btn-link"].disabled:active,
.editor-styles-wrapper .btn.btn-white[class*="btn-link"][disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-white[class*="btn-link"]:active,
.editor-styles-wrapper .btn.btn-white[class*="btn-link"].disabled.focus,
.editor-styles-wrapper .btn.btn-white[class*="btn-link"][disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-white[class*="btn-link"].focus {
  background-color: transparent;
  border-color: #ffffff;
}
.editor-styles-wrapper .btn.btn-white[class*="btn-link"].btn-3d {
  top: 0;
  -webkit-box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
}
.editor-styles-wrapper .btn.btn-white[class*="btn-link"].btn-3d:focus,
.editor-styles-wrapper .btn.btn-white[class*="btn-link"].btn-3d:active,
.editor-styles-wrapper .btn.btn-white[class*="btn-link"].btn-3d:hover {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}
.editor-styles-wrapper .btn.btn-gray {
  color: #ffffff;
  background-color: #696969;
  border-color: #696969;
}
.editor-styles-wrapper .btn.btn-gray:active,
.editor-styles-wrapper .btn.btn-gray:focus,
.editor-styles-wrapper .btn.btn-gray:hover {
  color: #696969;
  background-color: transparent;
  border-color: #696969;
}
.editor-styles-wrapper .btn.btn-gray.disabled:hover,
.editor-styles-wrapper .btn.btn-gray[disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-gray:hover,
.editor-styles-wrapper .btn.btn-gray.disabled:focus,
.editor-styles-wrapper .btn.btn-gray[disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-gray:focus,
.editor-styles-wrapper .btn.btn-gray.disabled:active,
.editor-styles-wrapper .btn.btn-gray[disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-gray:active,
.editor-styles-wrapper .btn.btn-gray.disabled.focus,
.editor-styles-wrapper .btn.btn-gray[disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-gray.focus {
  background-color: #696969;
  border-color: #696969;
}
.editor-styles-wrapper .btn.btn-gray.btn-3d {
  top: 0;
  -webkit-box-shadow: 0 5px 0 #505050;
  -moz-box-shadow: 0 5px 0 #505050;
  box-shadow: 0 5px 0 #505050;
}
.editor-styles-wrapper .btn.btn-gray.btn-3d:focus,
.editor-styles-wrapper .btn.btn-gray.btn-3d:active,
.editor-styles-wrapper .btn.btn-gray.btn-3d:hover {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 #505050;
  -moz-box-shadow: 0 2px 0 #505050;
  box-shadow: 0 2px 0 #505050;
  color: #ffffff;
  background-color: #696969;
  border-color: #696969;
}
.editor-styles-wrapper .btn.btn-gray.btn-outline {
  color: #696969;
  background-color: transparent;
  border-color: #696969;
}
.editor-styles-wrapper .btn.btn-gray.btn-outline:active,
.editor-styles-wrapper .btn.btn-gray.btn-outline:focus,
.editor-styles-wrapper .btn.btn-gray.btn-outline:hover {
  color: #ffffff;
  background-color: #696969;
  border-color: #696969;
}
.editor-styles-wrapper .btn.btn-gray.btn-outline.disabled:hover,
.editor-styles-wrapper .btn.btn-gray.btn-outline[disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-gray.btn-outline:hover,
.editor-styles-wrapper .btn.btn-gray.btn-outline.disabled:focus,
.editor-styles-wrapper .btn.btn-gray.btn-outline[disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-gray.btn-outline:focus,
.editor-styles-wrapper .btn.btn-gray.btn-outline.disabled:active,
.editor-styles-wrapper .btn.btn-gray.btn-outline[disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-gray.btn-outline:active,
.editor-styles-wrapper .btn.btn-gray.btn-outline.disabled.focus,
.editor-styles-wrapper .btn.btn-gray.btn-outline[disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-gray.btn-outline.focus {
  background-color: transparent;
  border-color: #696969;
}
.editor-styles-wrapper .btn.btn-gray.btn-outline.btn-3d {
  top: 0;
  -webkit-box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
}
.editor-styles-wrapper .btn.btn-gray.btn-outline.btn-3d:focus,
.editor-styles-wrapper .btn.btn-gray.btn-outline.btn-3d:active,
.editor-styles-wrapper .btn.btn-gray.btn-outline.btn-3d:hover {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  color: #696969;
  background-color: transparent;
  border-color: #696969;
}
.editor-styles-wrapper .btn.btn-gray[class*="btn-link"] {
  color: #696969;
  background-color: transparent;
  border-color: #696969;
}
.editor-styles-wrapper .btn.btn-gray[class*="btn-link"]:active,
.editor-styles-wrapper .btn.btn-gray[class*="btn-link"]:focus,
.editor-styles-wrapper .btn.btn-gray[class*="btn-link"]:hover {
  color: #696969;
  background-color: transparent;
  border-color: #696969;
}
.editor-styles-wrapper .btn.btn-gray[class*="btn-link"].disabled:hover,
.editor-styles-wrapper .btn.btn-gray[class*="btn-link"][disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-gray[class*="btn-link"]:hover,
.editor-styles-wrapper .btn.btn-gray[class*="btn-link"].disabled:focus,
.editor-styles-wrapper .btn.btn-gray[class*="btn-link"][disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-gray[class*="btn-link"]:focus,
.editor-styles-wrapper .btn.btn-gray[class*="btn-link"].disabled:active,
.editor-styles-wrapper .btn.btn-gray[class*="btn-link"][disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-gray[class*="btn-link"]:active,
.editor-styles-wrapper .btn.btn-gray[class*="btn-link"].disabled.focus,
.editor-styles-wrapper .btn.btn-gray[class*="btn-link"][disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-gray[class*="btn-link"].focus {
  background-color: transparent;
  border-color: #696969;
}
.editor-styles-wrapper .btn.btn-gray[class*="btn-link"].btn-3d {
  top: 0;
  -webkit-box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
}
.editor-styles-wrapper .btn.btn-gray[class*="btn-link"].btn-3d:focus,
.editor-styles-wrapper .btn.btn-gray[class*="btn-link"].btn-3d:active,
.editor-styles-wrapper .btn.btn-gray[class*="btn-link"].btn-3d:hover {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  color: #696969;
  background-color: transparent;
  border-color: #696969;
}
.editor-styles-wrapper .btn.btn-red {
  color: #ffffff;
  background-color: #e14e42;
  border-color: #e14e42;
}
.editor-styles-wrapper .btn.btn-red:active,
.editor-styles-wrapper .btn.btn-red:focus,
.editor-styles-wrapper .btn.btn-red:hover {
  color: #e14e42;
  background-color: transparent;
  border-color: #e14e42;
}
.editor-styles-wrapper .btn.btn-red.disabled:hover,
.editor-styles-wrapper .btn.btn-red[disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-red:hover,
.editor-styles-wrapper .btn.btn-red.disabled:focus,
.editor-styles-wrapper .btn.btn-red[disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-red:focus,
.editor-styles-wrapper .btn.btn-red.disabled:active,
.editor-styles-wrapper .btn.btn-red[disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-red:active,
.editor-styles-wrapper .btn.btn-red.disabled.focus,
.editor-styles-wrapper .btn.btn-red[disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-red.focus {
  background-color: #e14e42;
  border-color: #e14e42;
}
.editor-styles-wrapper .btn.btn-red.btn-3d {
  top: 0;
  -webkit-box-shadow: 0 5px 0 #cf2e21;
  -moz-box-shadow: 0 5px 0 #cf2e21;
  box-shadow: 0 5px 0 #cf2e21;
}
.editor-styles-wrapper .btn.btn-red.btn-3d:focus,
.editor-styles-wrapper .btn.btn-red.btn-3d:active,
.editor-styles-wrapper .btn.btn-red.btn-3d:hover {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 #cf2e21;
  -moz-box-shadow: 0 2px 0 #cf2e21;
  box-shadow: 0 2px 0 #cf2e21;
  color: #ffffff;
  background-color: #e14e42;
  border-color: #e14e42;
}
.editor-styles-wrapper .btn.btn-red.btn-outline {
  color: #e14e42;
  background-color: transparent;
  border-color: #e14e42;
}
.editor-styles-wrapper .btn.btn-red.btn-outline:active,
.editor-styles-wrapper .btn.btn-red.btn-outline:focus,
.editor-styles-wrapper .btn.btn-red.btn-outline:hover {
  color: #ffffff;
  background-color: #e14e42;
  border-color: #e14e42;
}
.editor-styles-wrapper .btn.btn-red.btn-outline.disabled:hover,
.editor-styles-wrapper .btn.btn-red.btn-outline[disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-red.btn-outline:hover,
.editor-styles-wrapper .btn.btn-red.btn-outline.disabled:focus,
.editor-styles-wrapper .btn.btn-red.btn-outline[disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-red.btn-outline:focus,
.editor-styles-wrapper .btn.btn-red.btn-outline.disabled:active,
.editor-styles-wrapper .btn.btn-red.btn-outline[disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-red.btn-outline:active,
.editor-styles-wrapper .btn.btn-red.btn-outline.disabled.focus,
.editor-styles-wrapper .btn.btn-red.btn-outline[disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-red.btn-outline.focus {
  background-color: transparent;
  border-color: #e14e42;
}
.editor-styles-wrapper .btn.btn-red.btn-outline.btn-3d {
  top: 0;
  -webkit-box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
}
.editor-styles-wrapper .btn.btn-red.btn-outline.btn-3d:focus,
.editor-styles-wrapper .btn.btn-red.btn-outline.btn-3d:active,
.editor-styles-wrapper .btn.btn-red.btn-outline.btn-3d:hover {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  color: #e14e42;
  background-color: transparent;
  border-color: #e14e42;
}
.editor-styles-wrapper .btn.btn-red[class*="btn-link"] {
  color: #e14e42;
  background-color: transparent;
  border-color: #e14e42;
}
.editor-styles-wrapper .btn.btn-red[class*="btn-link"]:active,
.editor-styles-wrapper .btn.btn-red[class*="btn-link"]:focus,
.editor-styles-wrapper .btn.btn-red[class*="btn-link"]:hover {
  color: #e14e42;
  background-color: transparent;
  border-color: #e14e42;
}
.editor-styles-wrapper .btn.btn-red[class*="btn-link"].disabled:hover,
.editor-styles-wrapper .btn.btn-red[class*="btn-link"][disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-red[class*="btn-link"]:hover,
.editor-styles-wrapper .btn.btn-red[class*="btn-link"].disabled:focus,
.editor-styles-wrapper .btn.btn-red[class*="btn-link"][disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-red[class*="btn-link"]:focus,
.editor-styles-wrapper .btn.btn-red[class*="btn-link"].disabled:active,
.editor-styles-wrapper .btn.btn-red[class*="btn-link"][disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-red[class*="btn-link"]:active,
.editor-styles-wrapper .btn.btn-red[class*="btn-link"].disabled.focus,
.editor-styles-wrapper .btn.btn-red[class*="btn-link"][disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-red[class*="btn-link"].focus {
  background-color: transparent;
  border-color: #e14e42;
}
.editor-styles-wrapper .btn.btn-red[class*="btn-link"].btn-3d {
  top: 0;
  -webkit-box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
}
.editor-styles-wrapper .btn.btn-red[class*="btn-link"].btn-3d:focus,
.editor-styles-wrapper .btn.btn-red[class*="btn-link"].btn-3d:active,
.editor-styles-wrapper .btn.btn-red[class*="btn-link"].btn-3d:hover {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  color: #e14e42;
  background-color: transparent;
  border-color: #e14e42;
}
.editor-styles-wrapper .btn.btn-black {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.editor-styles-wrapper .btn.btn-black:active,
.editor-styles-wrapper .btn.btn-black:focus,
.editor-styles-wrapper .btn.btn-black:hover {
  color: #333333;
  background-color: transparent;
  border-color: #333333;
}
.editor-styles-wrapper .btn.btn-black.disabled:hover,
.editor-styles-wrapper .btn.btn-black[disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-black:hover,
.editor-styles-wrapper .btn.btn-black.disabled:focus,
.editor-styles-wrapper .btn.btn-black[disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-black:focus,
.editor-styles-wrapper .btn.btn-black.disabled:active,
.editor-styles-wrapper .btn.btn-black[disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-black:active,
.editor-styles-wrapper .btn.btn-black.disabled.focus,
.editor-styles-wrapper .btn.btn-black[disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-black.focus {
  background-color: #333333;
  border-color: #333333;
}
.editor-styles-wrapper .btn.btn-black.btn-3d {
  top: 0;
  -webkit-box-shadow: 0 5px 0 #1a1a1a;
  -moz-box-shadow: 0 5px 0 #1a1a1a;
  box-shadow: 0 5px 0 #1a1a1a;
}
.editor-styles-wrapper .btn.btn-black.btn-3d:focus,
.editor-styles-wrapper .btn.btn-black.btn-3d:active,
.editor-styles-wrapper .btn.btn-black.btn-3d:hover {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 #1a1a1a;
  -moz-box-shadow: 0 2px 0 #1a1a1a;
  box-shadow: 0 2px 0 #1a1a1a;
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.editor-styles-wrapper .btn.btn-black.btn-outline {
  color: #333333;
  background-color: transparent;
  border-color: #333333;
}
.editor-styles-wrapper .btn.btn-black.btn-outline:active,
.editor-styles-wrapper .btn.btn-black.btn-outline:focus,
.editor-styles-wrapper .btn.btn-black.btn-outline:hover {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.editor-styles-wrapper .btn.btn-black.btn-outline.disabled:hover,
.editor-styles-wrapper .btn.btn-black.btn-outline[disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-black.btn-outline:hover,
.editor-styles-wrapper .btn.btn-black.btn-outline.disabled:focus,
.editor-styles-wrapper .btn.btn-black.btn-outline[disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-black.btn-outline:focus,
.editor-styles-wrapper .btn.btn-black.btn-outline.disabled:active,
.editor-styles-wrapper .btn.btn-black.btn-outline[disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-black.btn-outline:active,
.editor-styles-wrapper .btn.btn-black.btn-outline.disabled.focus,
.editor-styles-wrapper .btn.btn-black.btn-outline[disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-black.btn-outline.focus {
  background-color: transparent;
  border-color: #333333;
}
.editor-styles-wrapper .btn.btn-black.btn-outline.btn-3d {
  top: 0;
  -webkit-box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
}
.editor-styles-wrapper .btn.btn-black.btn-outline.btn-3d:focus,
.editor-styles-wrapper .btn.btn-black.btn-outline.btn-3d:active,
.editor-styles-wrapper .btn.btn-black.btn-outline.btn-3d:hover {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  color: #333333;
  background-color: transparent;
  border-color: #333333;
}
.editor-styles-wrapper .btn.btn-black[class*="btn-link"] {
  color: #333333;
  background-color: transparent;
  border-color: #333333;
}
.editor-styles-wrapper .btn.btn-black[class*="btn-link"]:active,
.editor-styles-wrapper .btn.btn-black[class*="btn-link"]:focus,
.editor-styles-wrapper .btn.btn-black[class*="btn-link"]:hover {
  color: #f76b6a;
  background-color: transparent;
  border-color: #f76b6a;
}
.editor-styles-wrapper .btn.btn-black[class*="btn-link"].disabled:hover,
.editor-styles-wrapper .btn.btn-black[class*="btn-link"][disabled]:hover,
fieldset[disabled] .editor-styles-wrapper .btn.btn-black[class*="btn-link"]:hover,
.editor-styles-wrapper .btn.btn-black[class*="btn-link"].disabled:focus,
.editor-styles-wrapper .btn.btn-black[class*="btn-link"][disabled]:focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-black[class*="btn-link"]:focus,
.editor-styles-wrapper .btn.btn-black[class*="btn-link"].disabled:active,
.editor-styles-wrapper .btn.btn-black[class*="btn-link"][disabled]:active,
fieldset[disabled] .editor-styles-wrapper .btn.btn-black[class*="btn-link"]:active,
.editor-styles-wrapper .btn.btn-black[class*="btn-link"].disabled.focus,
.editor-styles-wrapper .btn.btn-black[class*="btn-link"][disabled].focus,
fieldset[disabled] .editor-styles-wrapper .btn.btn-black[class*="btn-link"].focus {
  background-color: transparent;
  border-color: #333333;
}
.editor-styles-wrapper .btn.btn-black[class*="btn-link"].btn-3d {
  top: 0;
  -webkit-box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
}
.editor-styles-wrapper .btn.btn-black[class*="btn-link"].btn-3d:focus,
.editor-styles-wrapper .btn.btn-black[class*="btn-link"].btn-3d:active,
.editor-styles-wrapper .btn.btn-black[class*="btn-link"].btn-3d:hover {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  color: #333333;
  background-color: transparent;
  border-color: #333333;
}
.editor-styles-wrapper .btn-container.btn-inline {
  display: inline-block;
}
.editor-styles-wrapper .components-icon-button {
  overflow: hidden;
}
.wp-block-code .editor-plain-text {
  font-family: 'Nunito Sans';
  font-size: 0.875rem;
  color: #333333;
  background: transparent;
}
.wp-block-button:not(.is-style-outline) .wp-block-button__link:hover,
.wp-block-button:not(.is-style-outline) .wp-block-button__link:focus,
.wp-block-button:not(.is-style-outline) .wp-block-button__link:active {
  background-color: #333 !important;
  color: #fff !important;
}
.wp-block-button:not(.is-style-outline) .wp-block-button__link.has-background,
.wp-block-button:not(.is-style-outline) .wp-block-button__link.has-text-color {
  border-color: transparent !important;
}
.wp-block-button.is-style-outline .wp-block-button__link:hover,
.wp-block-button.is-style-outline .wp-block-button__link:focus,
.wp-block-button.is-style-outline .wp-block-button__link:active {
  color: #f76b6a !important;
}
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):hover,
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):focus,
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):active {
  color: #333 !important;
}
.editor-post-title__block.editor-post-title__block .editor-post-title__input {
  font-size: 34px;
  font-weight: 800;
  color: #333333;
}
